.styleguide-block {
    background: #cca
}
pre {
    padding:0;
    margin: 5px;
    border: 1px solid #f0f0f0;
    borer-radius: 4px;
}
pre>code.hljs {
    padding:0;
    border:none;
    margin: 5px;
    padding: 5px;
    background: none repeat scroll 0% 0% #F4F4F4;
    font-family: monospace;
    white-space: pre-wrap;
}
.styleguide-example {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.styleguide-example > div {
    display: inline-block;
    vertical-align: top;
}
.styleguide-demo {
    flex-basis: 48%;
    padding: 10px;
    flex-grow: 1;
}
.styleguide-docs {
    flex-basis: 100%;
    flex-grow: 1;
    margin-bottom: 25px;
}
.styleguide-code {
    flex-basis: 48%;
    flex-grow: 1;
}
.styleguide-code h4 {
    font-family: monospace;
    color: grey;
    font-weight: 100;
    margin-left: 10px;
}
.styleguide-sep {
    color: #ccc;
    font-size: 40px;
    vertical-align: middle;
}
.styleguide-sep>span {

}

/* wide */
.styleguide-example-wide {
    display: block;
}
.styleguide-example-wide > * {
    width: 100%;
}
.styleguide-example-wide > .styleguide-sep {
    text-align: center;
    margin-top: 20px;
}
.styleguide-example-wide > .styleguide-sep > span {
    transform: rotateZ(90deg);
    display: inline-block;
}

#styleguide-content > h4 {
    margin-top: 25px;
}
.styleguide-status-unstyled::after {
    content: "Unstyled";
    font-style: italic;
    margin-left: 1em;
    color: red;
}