{% extends "base.html" %}
{% load styleguide_extras %}

{% block content %}
<style>
    #styleguide-menu {
        display: inline-block;
        width: 19%;
        background: #ddd;
        padding: 10px;
        border-box;
        vertical-align: top;
    }
    #styleguide-menu ul {
        list-style: none;
    }
    #styleguide-content {
        display: inline-block;
        width: 79%;
    }
    .styleguide-block {
        background: #cca
    }
</style>

{% get_styleguide_templates as templates %}

<nav id=styleguide-menu>
    <ul>
    {% for name, slug in templates %}
        <li><a href="{% url "styleguide_page" slug %}">{{ name }}</a>
    {% endfor %}
</nav>

<div id=styleguide-content>
    {% block styleguide_content %}{% endblock %}
</div>

<div style="clear:both;"></div>
{% endblock %}
