{% extends "styleguide/styleguide.html" %}

{% load styleguide_tags %}

{% block styleguide_content %}
    <h2>Forms</h2>
    <h3>Inputs</h3>

    {% example %}
        <input type=text></input>
    {% endexample %}

    {% example %}
        <input type=text placeholder="Input something..."></input>
    {% endexample %}

    {% example %}
        <input type=range></input>
    {% endexample %}

    {% example %}
        <input type=number></input>
    {% endexample %}

    {% example "Files" status=unstyled %}
        <input type=file></input>
    {% endexample %}

    {% example "Checkboxes" %}
        <input name=demo-checkbox value=one checked type=checkbox>One</input>
        <input name=demo-checkbox value=two type=checkbox>Two</input>
    {% endexample %}

    {% example "Radios" %}
        <input name=demo-radio value=one checked type=radio>One</input>
        <input name=demo-radio value=two type=radio>Two</input>
    {% endexample %}

    <h3>Input States</h3>

    {% example %}
        <input name=field-w-error type=text placeholder="Input something..."></input>
        <span class=error>This field has an invalid state</span>
    {% endexample %}


        {% example "Disabled" %}
            <input type=text disabled value="This cann't be changed"></input>
        {% endexample %}

    <h3>Field Groups</h3>

    {% example %}
        <div class="form-group">
            <label for=field>Field Group with Label</label>
            <input name=field type=text></input>
        </div>
    {% endexample %}

    <h3>Buttons</h3>

    {% example "Default Button" %}
        <button>Push Me</button>
    {% endexample %}

    {% example "Submit Button" status=unstyled %}
        <button>Save</button>
    {% endexample %}

    {% example "Cancel Button" status=unstyled %}
        <button>No, Nevermind</button>
    {% endexample %}

    {% example "Dangerous Button" status=unstyled %}
        <button>Do Not Push Me</button>
    {% endexample %}

    <h3>Selects</h3>

    {% example "Native Select" status=unstyled %}
        <select>
            <option value="">Select an option</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
        </select>
    {% endexample %}

    {% example "Multiple Select" status=unstyled %}
        <select multiple>
            <option value="">Select an option</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
        </select>
    {% endexample %}

{% endblock %}
