{% extends "styleguide/styleguide.html" %}

{% block styleguide_content %}
    <h1>Header Level 1</h1>
    <h2>Header Level 2</h2>
    <h3>Header Level 3</h3>
    <h4>Header Level 4</h4>
    <h5>Header Level 5</h5>
    <h6>Header Level 6</h6>

    <p>Paragraph of text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed nunc tellus. Fusce nulla nibh, tincidunt vel leo id, pellentesque elementum elit. Cras eu urna imperdiet, luctus dui ut, elementum libero. Quisque convallis ac ligula nec finibus. Nulla elementum vestibulum lectus sed tempus. Aliquam eget ante in odio posuere venenatis non eu justo. In tortor orci, tincidunt in condimentum sed, ultricies sit amet purus. Mauris quis ipsum imperdiet, luctus metus vitae, sagittis mauris. Cras mattis ut massa nec fermentum. Fusce finibus rutrum eros non finibus. In a accumsan dui. Duis ac volutpat risus. Sed ac velit non purus elementum aliquet ac quis odio. Mauris tempor vel est sed vestibulum. Maecenas sodales felis a risus imperdiet fringilla.</p>

    <p>Paragraph with <i>italic text</i> and <em>emphasis</em>.</p>

    <p>Paragraph with <b>bold text</b> and <strong>strong language</strong>.</p>

    <ol>
        <li>ordered list of items
        <li>apple
        <li>orange
        <li>banana
    </ol>

    <ul>
        <li>unordered list of items
        <li>red
        <li>blue
        <li>green
    </ul>
{% endblock %}
