{% extends "base.html" %}
{% load styleguide_tags static %}

{% block extra-css %}
    <link rel=stylesheet href="{% static "styleguide/highlightjs/styles/github.css" %}"  />
    <link rel=stylesheet href="{% static "styleguide/styleguide.css" %}" />
{% endblock %}

{% block content %}

    {% get_styleguide_templates as templates %}

    <header id="styleguide-header">
        <div class="styleguide-header-left">
            <img src ="{% static "img/logo4.png" %}">
            <button id="hamburger">
                <img class="devices" src ="{% static "img/hamburger.png" %}">
            </button>
        </div>
        <div class="styleguide-header-right">
            <div class="devices">
                <img class="devices" src ="{% static "img/devices4.png" %}">
            </div>
            <div class="search">
                <img class="search" src ="{% static "img/mag-glass2.png" %}">
            </div>
        </div>
    </header>
    <nav id=styleguide-menu>
        <ul>
        {% for name, slug, sub_slugs in templates %}
            {% url "styleguide_page" slug as path %}
            {% open_menu request.path slug as open_parent %}
            <li class="{% if path in request.path %}selected {% endif%}{% if open_parent %}children{% endif %}">
                <a href="{{ path }}">{{ name|make_space }}</a>
                {% if sub_slugs %}
                    {% open_menu request.path slug sub_slugs as open %}
                    <span class="toggle-menu {% if open %}open{%endif%}"></span>
                    <ul class="sub-menu">
                        {% for s in sub_slugs%}
                            {% url "styleguide_sub_page" slug s as sub_path%}
                            <li class="{% if request.path == sub_path %}selected{%endif%}">
                                <a href="{{ sub_path }}">{{ s|title|make_space }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </nav>
    <main>
        <div id="styleguide-content-spacer"></div>
        <div id=styleguide-content>
            {% block styleguide_content %}{{ contents|safe }}{% endblock %}
        </div>
    </main>
    <footer id="styleguide-footer">
    </footer>

    {% block extra-js%}
    <script src="{% static "styleguide/highlightjs/highlight.pack.js" %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static "styleguide/styleguide.js" %}"></script>
    {% endblock %}

{% endblock %}
